<div class="container">
  <div class="main-contents">
  <h1><%= @user.name %></h1>
  <p><%= @user.bio %></p>
  <% if @user.url %>
    <%= link_to "ソーシャルポートフォリオはこちら", "#{@user.url}", class: "btn btn-accent mt-8" %>
  <% end %>
  </div>
  <% if current_user == @user %>
    <%= link_to "プロフィールを編集", edit_user_path(current_user.id), class: "btn btn-primary mt-8" %>
  <% end%>
  <div>
  <%= link_to "TOPにもどる", root_path, class: "btn btn-neutral mt-12" %>
  </div>
  <%= render 'shared/menu' %>
</div>