<div class="container">
      <h1>思い出投稿</h1>
      <%= form_with model: @post do |f| %>
        <div class="mb-4">
          <%= f.file_field :post_image, class: "file-input file-input-bordered w-full max-w-xs", accept: 'image/*' %>
        </div>
        <div class="mb-4">
          <%= f.text_area :body, class: "textarea textarea-bordered w-full max-w-xs", placeholder: "テーマにまつわる思い出、または作り話を語ってください。" %>
        </div>
        <div class="mb-4">
          <%= f.text_area :comment, class: "textarea textarea-bordered w-full max-w-xs", placeholder: "捕捉コメントがあれば教えてください。" %>
        </div>
        <div class="mb-4">

          <%= f.select :answer, options_for_select([["本当の話", true], ["ダウト（作り話）", false]]), options = { include_blank: "真偽を選んでね" }, class: "select select-bordered w-full max-w-xs" %>
        </div>
        <%= f.submit "登録", class: "btn btn-primary" %>
      <% end %>
      <div class='text-center'>
        <%= link_to 'ログインページへ', login_path %>
      </div>

</div>