<%= turbo_stream.replace "replace" do %>
  
    <p>正解は…</p>
    <p>
    <%= @post.answer %>
    </p>
    <p>
    <%= @post.comment %>
    </p>
    <p></p>
    <p>
    <%= @post.user.name %>
    
    </p>

    
  
  <%= link_to "投稿者はこちら", user_path(@post.user) %>
<% end  %>