<div class="container">
  <h1>思い出ダウト！</h1>
  <p><%=  @post.user.name %>さんの思い出です</p>
  <div class="my-10">
  <%= image_tag @post.post_image_url, class: "block mx-auto", width: "300", height:"200" %>
  </div>
  <p class="text-xl my-8">
  <%=  @post.body %>
  </p>
  <p class="mb-6">この思い出、ほんと？</p>

    <%= turbo_frame_tag 'replace' do %>
      <%= link_to 'ほんと！', replace_post_path, class: "btn btn-primary mx-2" %>
      <%= link_to 'ダウト！', replace_post_path, class: "btn btn-primary mx-2" %>
    <% end %>
 
  <div class="mt-8 text-center">
    <%= link_to 'Xでシェアする', "https://twitter.com/share?url=#{request.url}&text= #{@post.user.name}さんの思い出クイズに挑戦しました！&hashtags=ミニアプリウィーク,思い出ダウト", title: 'Twitter', target: '_blank', class: "btn" %>
  </div>
  <div>
  <%= link_to "TOPにもどる", root_path, class: "btn btn-neutral mt-12" %>
  </div>
<%= render 'shared/menu' %>
</div>